body{
    background-image:  linear-gradient(rgb(245, 124, 124), rgb(249, 249, 177));
    opacity: 90%;
}

.logo{

    width: 25%;
    height: 60px;
    
}

.br{
    width: 150px;
}
.container {
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #a79f9f;
    border-radius: 50px;
    background-color: #fbf5d3;
    margin-top: 50px;

}
